/* @import 'https://fonts.googleapis.com/css?family=Archivo:300,400,500'; */
@import 'https://fonts.googleapis.com/css?family=Archivo&display=swap';

.App {
  max-width: 1200px;
  margin: 100px auto;
  color: #566b78;
}

h1, h2, strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

/* code {
  padding: 2px 4px;
  vertical-align: text-bottom;
} */

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

.patient-info {
  display: flex;
  flex-direction: column;
}

h5 {
  color: #7878ff;
  font-weight: 400;
}

/* ---------- HOME ----------- */
.logo-subtitle {
  margin-bottom: 1.5rem;
}

.intro-header {
  font-size: -webkit-xxx-large;
}

.info-section {
  margin: 1rem 0;
  font-size: x-large;
}

/* ---------- SIGNUP ----------- */

.patient-form {
  border-left: 2px solid #00d1b2;
  border-bottom: 2px solid #00d1b2;
  display: flex;
  flex-direction: row;
  padding: 0 0 1.5rem 1rem;
  width: 1200px;
}

.form-block {
  margin: 0 0.5rem;
  width: fit-content;
}


.signup-buttons {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.form-dropdown.sex {
  height: 65px;
}

.select-sex {
  width: 575px;
}

.select-ethnicity {
  width: 575px;
}

.info-submit {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.form-warning {
  padding: 10px 0 0 0;
  color: red
}

/* ---------- SIGNUP ----------- */

.history-input-form {
  margin: 1rem 0;
}

.history-list {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border-left: 2px solid #00d1b2;
  border-bottom: 2px solid #00d1b2;
  position: relative;
}

.disease-button {
  margin: 0.5rem;
}

.submit-history {
  position: absolute;
  bottom: 1rem;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.proceed-to-specialties {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.specialty {
  margin: 1rem 0;
}

/* ---------- SIGNUP ----------- */
.proceed-button {
  display: flex;
  justify-content: flex-end;
}

/* ---------- SIGNUP ----------- */
.nurse-card {
  margin: 1rem 0;
}

.nurse-list {
  width: 50%;
}

.card-content {
  display:flex;
}